@page
@model UtahCrashStats.Pages.CrashesModel
@{
    ViewData["Title"] = "Utah Crashes";
    ViewData["SearchTerm"] = Model.searchTerm;
    ViewData["FilterInput"] = Model.filterString;
    ViewData["FiltersNamesDict"] = Model.filtersNamesDict;
    ViewData["FiltersDict"] = Model.filtersDict;
    ViewData["IsCrashesPage"] = "true";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Crashes</h1>

@*<h1>@Model.searchTerm</h1>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Crash ID</th>
                        <th>Date</th>
                        <th>Route</th>
                        <th>Mile</th>
                        <th>Road</th>
                        <th>City</th>
                        <th>County</th>
                        <th>Severity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.crashes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CRASH_ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.CRASH_DATETIME)</td>
                            <td>@Html.DisplayFor(modelItem => item.ROUTE)</td>
                            <td>@Html.DisplayFor(modelItem => item.MILEPOINT)</td>
                            <td>@Html.DisplayFor(modelItem => item.MAIN_ROAD_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.CITY)</td>
                            <td>@Html.DisplayFor(modelItem => item.COUNTY_NAME)</td>
                            @if (item.CRASH_SEVERITY_ID == 1)
                            {
                                <td>No Injury</td>
                            }
                            else if (item.CRASH_SEVERITY_ID == 2)
                            {
                                <td>Possible Injury</td>
                            }
                            else if (item.CRASH_SEVERITY_ID == 3)
                            {
                                <td>Minor Injury</td>
                            }
                            else if (item.CRASH_SEVERITY_ID == 4)
                            {
                                <td>Severe Injury</td>
                            }
                            else if (item.CRASH_SEVERITY_ID == 5)
                            {
                                <td>Fatal Injury</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <paging class="pagination" total-records="@Model.totalCrashes" show-total-pages="true" show-total-records="true" page-size="@Model.pageSize" page-no="@Model.pageNum" asp-route-search="@Model.searchTerm"></paging>
        </div>
    </div>
</div>
