@page
@model UtahCrashStats.Pages.CrashesModel
@{
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Crashes</h1>
<p class="mb-4">
    DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.
</p>

<h1>@Model.searchTerm</h1>

<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
       role="button" aria-expanded="false" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse" id="collapseCardExample">
        <div class="card-body">
            <form>
                <div class="row m-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="wo" name="wo" value=1>
                        <label class="form-check-label" for="wo">Work Zone</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="pe" name="pe" value=1>
                        <label class="form-check-label" for="pe">Pedestrian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="bi" name="bi" value=1>
                        <label class="form-check-label" for="bi">Bicyclist</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="mo" name="mo" value=1>
                        <label class="form-check-label" for="mo">Motorcycle</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="im" name="im" value=1>
                        <label class="form-check-label" for="im">Improper Restraint</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="un" name="un" value=1>
                        <label class="form-check-label" for="un">Unrestrained</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="du" name="du" value=1>
                        <label class="form-check-label" for="du">DUI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inter" name="inter" value=1>
                        <label class="form-check-label" for="inter">Intersection</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="wi" name="wi" value=1>
                        <label class="form-check-label" for="wi">Wild Animal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dom" name="dom" value=1>
                        <label class="form-check-label" for="dom">Domestic Animal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ro" name="ro" value=1>
                        <label class="form-check-label" for="ro">Rollover</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="co" name="co" value=1>
                        <label class="form-check-label" for="co">Commercial Vehicle</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="te" name="te" value=1>
                        <label class="form-check-label" for="te">Teenage Driver</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="se" name="se" value=1>
                        <label class="form-check-label" for="se">Senior Driver</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="ni" name="ni" value=1>
                        <label class="form-check-label" for="ni">Nighttime</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="si" name="si" value=1>
                        <label class="form-check-label" for="si">Single Vehicle</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="di" name="di" value=1>
                        <label class="form-check-label" for="di">Distracted Driving</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="dr" name="dr" value=1>
                        <label class="form-check-label" for="dr">Drowsy Driving</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="road" name="road" value=1>
                        <label class="form-check-label" for="road">Roadway Departure</label>
                    </div>
                </div>
                <div class="row m-2 pt-2">
                    <button class="btn btn-primary" type="submit" asp-page="Crashes">Filter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Crash ID</th>
                        <th>Date</th>
                        <th>Route</th>
                        <th>Mile Point</th>
                        <th>Road Name</th>
                        <th>City</th>
                        <th>County</th>
                        <th>Severity ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.crashes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.CRASH_ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.CRASH_DATETIME)</td>
                            <td>@Html.DisplayFor(modelItem => item.ROUTE)</td>
                            <td>@Html.DisplayFor(modelItem => item.MILEPOINT)</td>
                            <td>@Html.DisplayFor(modelItem => item.MAIN_ROAD_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.CITY)</td>
                            <td>@Html.DisplayFor(modelItem => item.COUNTY_NAME)</td>
                            <td>@Html.DisplayFor(modelItem => item.CRASH_SEVERITY_ID)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <paging class="pagination" total-records="@Model.totalCrashes" show-total-pages="true" show-total-records="true" page-size="@Model.pageSize" page-no="@Model.pageNum" asp-route-search="@Model.searchTerm"></paging>
        </div>
    </div>
</div>
